<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BananaCoding.Tools.Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BananaCoding.Tools.Database.Properties.Settings>
            <setting name="Database" serializeAs="String">
                <value>TestDB</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>.\SQLEXPRESS</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Production_Database" serializeAs="String">
                <value>ProductionDB</value>
            </setting>
            <setting name="Production_Server" serializeAs="String">
                <value>(local)\SQLEXPRESS</value>
            </setting>
            <setting name="Production_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Production_Password" serializeAs="String">
                <value />
            </setting>
        </BananaCoding.Tools.Database.Properties.Settings>
    </userSettings>
</configuration>